  <div class="container">
				<div class="page-header">
					<center><h1>ABM - PHP - Angular</h1> </center>     
				</div>
				<div class="CajaInicio animated bounceInRight">
									<h1>PERSONAS</h1>
								
									<form id="FormIngreso">
		 										<!--<utn-Directiva-Saludar>
		 									</utn-Directiva-Saludar>
		 									<div utn-Directiva-Saludar></div>
		 									<div class="utn-Directiva-Saludar"></div>-->
		 									<utn-Boton-Menu titulo="Nuevo Boton"></utn-Boton-Menu>
		 									<div utn-Boton-Menu></div>
		 									<div class="utn-Boton-Menu"></div>
											    <a ui-sref="alta" class="list-group-item  list-group-item list-group-item-info">
											      <h4 class="list-group-item-heading">Alta de Personas{{DatoTest}}</h4>
											    </a>
												
												<a ui-sref="grillausuario" class="list-group-item  list-group-item list-group-item-info">
											      <h4 class="list-group-item-heading">Grilla de Personas</h4>
											    </a>

										
											  
											
									</form>
				</div>
		</div>